*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border-radius: 30px;
}
body{
    background-image: url(img/bg.avif);
    background-size: cover;
}

.container{
    border:2px solid rgba(255, 255, 255, 0.171);
    box-sizing: content-box;
    display: flex;
    height: 450px;
    width: 800px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 20px 20px 15px;
    column-gap: 20px;
}

.form p{
    color: aliceblue;
}
.form a{
    color: aliceblue;
}
.form a:hover{
    color: red;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: rgba(31, 62, 199, 0.377);
}
.form h2{
    font-size: 4rem;
    margin: 15px;
    color:aqua;
    text-decoration: underline crimson;
}

.box{
    padding: 5px;
    width: 60%;
    margin: 0;
    border: 1px solid black;
    outline: none;
    border-radius:10px;
}

#submit{
    padding: 5px 45px;
    margin-top: 2px;
    background-color: aqua;
    color:brown;
    font-weight: bold;
    border-radius: 20px;
}

#submit:hover{
    cursor: pointer;
    background-color: blueviolet;
}

.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.pic img{
    width: 400px;
    height: 450px;
}
